pyrofork==2.3.45
tgcrypto
pymongo[srv]==4.5.0
motor==3.3.2
marshmallow==3.20.1
umongo
IMDbPY
ffmpeg-python
requests
aiohttp
pytz
dnspython==2.3.0
shortzy
fuzzywuzzy
Flask
werkzeug==2.0.2
itsdangerous==2.0.1
python-Levenshtein
humanize==4.6.0
psutil==5.9.4
jinja2
telegraph
python-dotenv
qrcode[pil]